/* Conteneur principal */
.content-container {
  padding-bottom: 80px; /* Ajustez cette valeur en fonction de la hauteur des boutons */
}

/* Conteneur de navigation des étapes */
.step-navigation {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); /* Centre le conteneur horizontalement */
  display: flex;
  justify-content: center;
  align-items: center; /* Centre les éléments verticalement */
  gap: 1rem;
  padding: 1rem;
  /* Retirer la couleur de fond ou utiliser une transparence */
  background: transparent; 

  z-index: 1000;
  width: 100%; /* Assurez-vous que le conteneur utilise la largeur entière */
}

/* Style des boutons */
.step-button {
  background: transparent; /* Fond transparent pour les boutons */

  color: #000; /* Couleur du texte */
  padding: 0.5rem 1rem; /* Padding pour confort */
}

.step-button:disabled {
  background: transparent; /* Fond transparent pour les boutons désactivés */
  color: #999; /* Couleur du texte pour les boutons désactivés */

}
